@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
}

@theme inline {
  --font-sans: 'Poppins', sans-serif;
}

@utilities {
  .grid-cols-70\/30 {
    grid-template-columns: 70% 28%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}
